
<body>
    <h1 style="text-align: center;margin: 50px;margin-top:10%;color: #288cec;font-size: 30px;">Login</h1>
    <div class="images">
        <img class="faceicon" src="../../assets/fb-icon.png" width="40px" height="40px">
        <img class="googleicon" src="../../assets/google-icon.png" width="40px" height="40px">
    </div>
    <div class="linearea">
        <div class="line"></div>
            <span class="or">OR</span>
        <div class="line"></div>

    </div>
    <br>
<div class="form example-form">
    <form [formGroup]="loginForm" (ngSubmit)="Onsubmit()">
        <label class="label3">Email<span style="color:red">*</span ></label><br>
      
            <mat-form-field appearance="fill" class="example-full-width">
                
                <input matInput placeholder="Email" class="textbox" formControlName="email">
            </mat-form-field>
            <br>
            <label class="label">Password<span style="color:red">*</span ></label><br>
    
            <mat-form-field appearance="fill" class="example-full-width">
                
                <input matInput class="textbox" placeholder="Password" formControlName="password" >
            </mat-form-field>
            <br>
            <h4 style="color: coral;margin-left: 19%;">Forgot Password?</h4>
        <button [disabled]="!loginForm.valid" mat-raised-button>Login</button>
        <br>
        <br>
        <h4 style="color: lightblue;">Don't have an account?  <span style="color:#288cec;">Sign Up</span></h4>

  </form>
  </div>
  </body>